In [43]:
import pandas as pd

In [44]:
df = pd.read_excel(r"D:\Analysis Burn\Дистрибьютеры отчетность\Source\Отчеты\Краснодар Склад\Sell_Out_Краснодар_Склад.xlsx")

In [45]:
df.head(2)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор
0,не указан,УТ-УТ000039,Кальянная,"Хука Плейс Кубанская Наб., 3","Краснодар, ул. Кубанская Набережная., 3",2023-02-24,BlackBurn,BlackBurn 200 гр,Epic Yogurt (Черничный йогурт),200,1,0.2,1490,1490,38
1,не указан,УТ-УТ000071,ОПТ,Глущенко Анна Александровна,"350028, Краснодарский край, г.о. город Краснод...",2023-01-09,BlackBurn,BlackBurn 200 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,200,1,0.2,1200,1200,38

In [46]:
df['Дата отгрузки'].dtype == '<M8[ns]'

# проверка на дату
# df['Дата отгрузки'].str.match('\d{4}-.*')

True

In [20]:
df['Дата отгрузки'] = pd.to_datetime(df['Дата отгрузки'], dayfirst=True)

In [47]:
df['year'] = df['Дата отгрузки'].dt.year
df['month'] = df['Дата отгрузки'].dt.month

In [22]:
# оставить только москву
df = df.loc[
    (df['Торговый представитель'] != 'REG MAN 001 (Такаев: ЮФО, СНГ)' ) & 
    (df['Торговый представитель'] != 'REG MAN 005 (Цыганков: ДВФО, ПФО)') &
    (df['Торговый представитель'] != 'REG MAN 004 (Кособокова: ЦФО, СЗФО)') &
    (df['Торговый представитель'] != 'REG MAN 006 (Олейник: УрФО, СФО)') &
    (df['Торговый представитель'] != 'Дудырев Владимир') & 
    (df['Торговый представитель'] != 'Гильманов Тимур') &
    (df['Торговый представитель'] != 'Гусенцов Александр') &
    (df['Торговый представитель'] != 'Telesales 002 (Юшкин)') &
    (df['Торговый представитель'] != 'Telesales 001 (Маслов)') &
    (df['Торговый представитель'] != 'Садыков Александр') &
    (df['Торговый представитель'] != 'INC MAN 002 (Маслов)') &
    (df['Торговый представитель'] != 'INC MAN 004 (Юшкин)') &
    (df['Торговый представитель'] != 'REG MAN 007 (Меркурьев)') &
    (df['Торговый представитель'] != 'Telesales 003 (Творогов)') &
    (df['Торговый представитель'] != 'Фаткин Ким') &
    (df['Торговый представитель'] != 'Лубинец Дмитрий' ) &
    (df['Торговый представитель'] != 'Абильфазов Азим' ) &
    (df['Торговый представитель'] != 'Асланян Ашхен' ) &
    (df['Торговый представитель'] != 'Баранов Алексей' ) & 
    (df['Торговый представитель'] != 'Сафронов Николай') 
]

In [48]:
df['Торговый представитель'].unique()

array(['не указан'], dtype=object)

In [50]:
df.head(1)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор,year,month
0,не указан,УТ-УТ000039,Кальянная,"Хука Плейс Кубанская Наб., 3","Краснодар, ул. Кубанская Набережная., 3",2023-02-24,BlackBurn,BlackBurn 200 гр,Epic Yogurt (Черничный йогурт),200,1,0.2,1490,1490,38,2023,2

In [23]:
# оставить новые вкусы
filtered = df.loc[
    (df['Вкус'] == 'Mirinda (Мандариновая газировка)') |
    (df['Вкус'] == 'Muesli (Фруктовые мюсли)') |
    (df['Вкус'] == 'Fruittella (Фруктовая конфета)') |
    (df['Вкус'] == 'Guajava (Экзотическая гуава)') |
    (df['Вкус'] == 'Jelly Grape (Виноградный джем)') |
    (df['Вкус'] == 'Epic Yogurt (Черничный йогурт)') |
    (df['Вкус'] == 'Watermelon (Сладкий арбуз)') |
    (df['Вкус'] == 'Lemon Tonic (Лимонный Тоник)') |
    (df['Вкус'] == 'Kashmir Citrus (Кашмир цитрус)') |
    (df['Вкус'] == 'Sweet Rose (Ягоды с розой)') |
    (df['Вкус'] == 'Green Day (Яблоко, киви, кислинка)') |
    (df['Вкус'] == 'Mikado (Ананас)') |
    (df['Вкус'] == 'Basilic (Базилик)') |
    (df['Вкус'] == 'Ёlka (Ёлка)') |
    (df['Вкус'] == 'Brumblebee (Клубника, ежевика, голубика)') |
    (df['Вкус'] == 'Fantola (Тропическая газировка)') |
    (df['Вкус'] == 'Frustyle (Кактус-лайм)') |
    (df['Вкус'] == 'Grapefruit (Грейпфрут)') |
    (df['Вкус'] == 'Saint-Tropez (Земляника со сливками)') |
    (df['Вкус'] == 'На расслабоне (Банановое суфле) ') |
    (df['Вкус'] == 'На чиле (Тропический сок) ')
]

In [52]:
pd.Series(filtered['Вкус'].unique())

0               Epic Yogurt (Черничный йогурт)
1             Mirinda (Мандариновая газировка)
2                     Muesli (Фруктовые мюсли)
3                   Watermelon (Сладкий арбуз)
4                            Basilic (Базилик)
5                                  Ёlka (Ёлка)
6                 Guajava (Экзотическая гуава)
7               Fruittella (Фруктовая конфета)
8               Jelly Grape (Виноградный джем)
9                 Lemon Tonic (Лимонный Тоник)
10              Kashmir Citrus (Кашмир цитрус)
11                  Sweet Rose (Ягоды с розой)
12          Green Day (Яблоко, киви, кислинка)
13                             Mikado (Ананас)
14    Brumblebee (Клубника, ежевика, голубика)
15             Fantola (Тропическая газировка)
16                      Frustyle (Кактус-лайм)
17                      Grapefruit (Грейпфрут)
18        Saint-Tropez (Земляника со сливками)
19            На расслабоне (Банановое суфле)
20                  На чиле (Тропический сок)
dtype: object

In [53]:
daily_data = filtered.pivot_table(
    index=['Вкус', 'Дата отгрузки', 'Код клиента']
    , aggfunc='size'
).reset_index()

In [28]:
# filtered.to_excel(r"C:\Users\User\Desktop\1_фильтр_вкусов.xlsx")

In [29]:
# daily_data.to_excel(r"C:\Users\User\Desktop\2_сводная.xlsx")

In [55]:
daily_data

                            Вкус Дата отгрузки  Код клиента  0
0              Basilic (Базилик)    2023-04-13  00-00000044  1
1              Basilic (Базилик)    2023-04-13  00-00000045  1
2              Basilic (Базилик)    2023-04-13  УТ-УТ000153  1
3              Basilic (Базилик)    2023-04-13  УТ-УТ000199  1
4              Basilic (Базилик)    2023-04-13  УТ-УТ000202  1
...                          ...           ...          ... ..
4127  На чиле (Тропический сок)     2023-06-29  УТ-УТ000004  1
4128  На чиле (Тропический сок)     2023-06-29  УТ-УТ000143  1
4129  На чиле (Тропический сок)     2023-06-30  УТ-УТ000110  1
4130  На чиле (Тропический сок)     2023-06-30  УТ-УТ000191  1
4131  На чиле (Тропический сок)     2023-06-30  УТ-УТ000261  1

[4132 rows x 4 columns]

In [56]:
daily_data2 = daily_data.pivot_table(
    index=['Вкус', 'Код клиента'],
    columns='Дата отгрузки',
    values='Код клиента',
    aggfunc=lambda x: 1 if sum(x) > 0 else 0
).reset_index()

In [58]:
daily_data2.columns = daily_data2.columns.astype(str)

In [60]:
col_size = daily_data2.columns.size

In [61]:
row_size = len(daily_data2)-1

In [64]:
i = 2
iterator = 3

while iterator <= col_size:
    name = daily_data2.columns[i]
    daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
    i += 1
    iterator += 1

C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\User\AppData\Local\Temp\ipykernel_13400\4106349425.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)

In [67]:
daily_data2 = daily_data2.drop(daily_data2.columns[2:col_size], axis=1)

In [69]:
import numpy as np
# Определяем функцию для фильтрации значений
def filter_values(value):
    if value == 1:
        return value
    else:
        return np.nan

daily_data2.iloc[:, 2:] = daily_data2.iloc[:, 1:].applymap(filter_values)

In [70]:
daily_data2.columns = daily_data2.columns.str.strip()

In [81]:
melted_data = pd.melt(daily_data2, id_vars=['Вкус', 'Код клиента'], var_name='День', value_name='Покупка')

In [46]:
# melted_data.loc[melted_data['Покупка'] == 1][10:20].to_excel(r"C:\Users\User\Desktop\6_сводная.xlsx")

In [82]:
melted_data

                              Вкус  Код клиента        День  Покупка
0                Basilic (Базилик)  00-00000010  2023-01-09      NaN
1                Basilic (Базилик)  00-00000013  2023-01-09      NaN
2                Basilic (Базилик)  00-00000014  2023-01-09      NaN
3                Basilic (Базилик)  00-00000016  2023-01-09      NaN
4                Basilic (Базилик)  00-00000017  2023-01-09      NaN
...                            ...          ...         ...      ...
256915  На чиле (Тропический сок)   УТ-УТ000297  2023-06-30      1.0
256916  На чиле (Тропический сок)   УТ-УТ000299  2023-06-30      1.0
256917  На чиле (Тропический сок)   УТ-УТ000301  2023-06-30      1.0
256918  На чиле (Тропический сок)   УТ-УТ000304  2023-06-30      1.0
256919  На чиле (Тропический сок)   УТ-УТ000305  2023-06-30      1.0

[256920 rows x 4 columns]

In [84]:
grouped_data

                            Вкус        День  Покупка
0              Basilic (Базилик)  2023-01-09      0.0
1              Basilic (Базилик)  2023-01-10      0.0
2              Basilic (Базилик)  2023-01-11      0.0
3              Basilic (Базилик)  2023-01-12      0.0
4              Basilic (Базилик)  2023-01-13      0.0
...                          ...         ...      ...
2515  На чиле (Тропический сок)   2023-06-26     60.0
2516  На чиле (Тропический сок)   2023-06-27     72.0
2517  На чиле (Тропический сок)   2023-06-28     70.0
2518  На чиле (Тропический сок)   2023-06-29     72.0
2519  На чиле (Тропический сок)   2023-06-30     75.0

[2520 rows x 3 columns]

In [83]:
grouped_data = melted_data.groupby(['Вкус', 'День'])['Покупка'].sum().reset_index()

In [85]:
grouped_data['День'] = pd.to_datetime(grouped_data['День'], yearfirst=True)

In [86]:
grouped_data['year'] = grouped_data['День'].dt.year
grouped_data['month'] = grouped_data['День'].dt.month

In [89]:
akb = df.groupby(
    by=['year','month']
)['Код клиента'].nunique().reset_index()

In [90]:
merged = grouped_data.merge(
    akb,
    how="left",
    on=["year", "month"],
    suffixes=('_left', '_right')
)

merged = pd.DataFrame(merged)

In [93]:
merged

,Вкус,День,Покупка,year,month,Код клиента,Доля
0,Basilic (Базилик),2023-01-09,0.0,2023,1,106,0.000000
1,Basilic (Базилик),2023-01-10,0.0,2023,1,106,0.000000
2,Basilic (Базилик),2023-01-11,0.0,2023,1,106,0.000000
3,Basilic (Базилик),2023-01-12,0.0,2023,1,106,0.000000
4,Basilic (Базилик),2023-01-13,0.0,2023,1,106,0.000000
...,...,...,...,...,...,...,...
2515,На чиле (Тропический сок),2023-06-26,60.0,2023,6,148,0.405405
2516,На чиле (Тропический сок),2023-06-27,72.0,2023,6,148,0.486486
2517,На чиле (Тропический сок),2023-06-28,70.0,2023,6,148,0.472973
2518,На чиле (Тропический сок),2023-06-29,72.0,2023,6,148,0.486486
2519,На чиле (Тропический сок),2023-06-30,75.0,2023,6,148,0.506757

In [92]:
merged['Доля'] = merged['Покупка'] / merged['Код клиента']

In [98]:
merged = merged.pivot_table(
    index='Вкус',
    columns='День',
    values='Доля'
)

In [ ]:
# здесь необходиом добавить к вкусу бренд

In [99]:
merged.to_excel(r"C:\Users\User\Desktop\9_сводная.xlsx")